// 主色调
//@uiColorGreen: #42929D;
@uiColorGreen: rgba(71,163,173,1);
@uiColorGreenHover: rgba(71,163,173,0.5);
@textColor: #fff;
@textColor2: rgb(121,125,135);
@baseColor:rgb(42,45,50);
@bgColor:rgb(248,248,248);
@bgColorInner: rgba(244,244,244,0.8);
@shadowColor: #ddd;
 // 字体
@miniFont:24rpx;
@minFont:28rpx;
@baseFont: 32rxp;
@bigFont: 36rxp;
