// 主色调
//@uiColorGreen: #42929D;
@uiColorGreen: #47A3AD;
@uiColorGreenHover: rgba(71,163,173,0.5);
@textColor: #fff;
@textColor2: rgb(121,125,135);
@baseColor:#2A2D32;
@baseColor2:rgb(11,11,11);
@bgColor:#F8F8F8;
@bgColorInner:  #F4F4F4;
@shadowColor: #ddd;
 // 字体
@miniFont:24rpx;
@minFont:28rpx;
@baseFont: 32rxp;
@bigFont: 36rxp;
@initFont: 48rxp;
