@import "../../../common/styles/base/variable";

.home_box {
  width: 100%;
  height: 100%;
  .scroll_view {
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    background: @textColor;
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
    z-index: 99;
    .nav-name {
      display: inline-block;
      font-size: 28rpx;
      color: @baseColor;
      padding: 20rpx 20rpx;
      width: 25%;
      text-align: center;
    }
    .nav-hover {
      border-bottom: 2px solid @uiColorGreen;
      color: @uiColorGreen;
      width: 25%;
    }
  }
  .scroll_wrapper{
      margin-top: 100rpx;
      width: 100%;
      height: 100%;
      .scroll_container {
        height: auto;
        width: 100%;
        .main_wrapper{
          padding: 40rpx 20rpx;
          .main_img {
            position: relative;
            width: 100%;
            height: 400rpx;
            .category-icon {
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
            .view_img{
              position: absolute;
              transform: translate(-50%,-50%);
              top: 50%;
              left: 50%;
              width: 90%;
              height: 120%;
              box-shadow: 0 5px 3px #ddd;
              .view_img_inner {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                .category-icon {
                  width: 100%;
                  height: 100%;
                }
                .view_text{
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  width: 160rpx;
                  height: 60rpx;
                  font-size: @minFont;
                  color: @textColor;
                  text-align: center;
                  line-height: 60rpx;
                  background: @uiColorGreen;
                  border-radius: 0 0 5px 0;
                }
              }
            }
          }
          //数量
          .main_counts{
            margin-top: 100rpx;
            .count_box{
              border-radius: 5px;
              background: @textColor;
              padding: 20rpx;
              .count_item{
                display: flex;
                justify-content: space-between;
                border-bottom: 0.5px solid #F3F3F3;
                padding: 20rpx 0;
                .count_text{
                  color: @textColor2;
                  font-size: @minFont;
                  display: flex;
                  .count_group {
                    margin-right: 10rpx;
                    .wx-checkbox-input {
                      width: 24rpx;
                      height: 24rpx;
                      outline: none;
                    }
                    .wx-checkbox-input-checked {
                      background: @uiColorGreen;
                      outline: none;
                    }
                    .wx-checkbox-input-checked::before {
                      width: 24rpx;
                      height: 24rpx;
                      line-height: 24rpx;
                      text-align: center;
                      font-size: 24rpx;
                      color: @textColor;
                      background: transparent;
                      transform: translate(-50%, -50%) scale(1);
                      -webkit-transform: translate(-50%, -50%) scale(1);
                    }
                  }
                }
                .count_right{
                  display: flex;
                  .count_right_text{
                    font-size: @minFont;
                    color: @baseColor;
                    font-weight: 600;
                  }
                  .count_group {
                    margin-right: 10rpx;
                    display: flex;
                    .checkbox_text{
                      font-size: @minFont;
                      color: @baseColor;
                      font-weight: 600;
                    }
                    .wx-checkbox-input {
                      width: 24rpx;
                      height: 24rpx;
                      outline: none;
                      margin-right: 10rpx;
                      line-height: 40rpx;
                    }
                    .wx-checkbox-input-checked {
                      background: @uiColorGreen;
                      outline: none;
                    }
                    .wx-checkbox-input-checked::before {
                      width: 24rpx;
                      height: 24rpx;
                      line-height: 24rpx;
                      text-align: center;
                      font-size: 24rpx;
                      color: @textColor;
                      background: transparent;
                      transform: translate(-50%, -50%) scale(1);
                      -webkit-transform: translate(-50%, -50%) scale(1);
                    }
                  }
                }
              }
            }
          }
          // 配置
          .main_select{
            border-radius: 5px;
            background: @textColor;
            padding: 20rpx;
            margin-top: 40rpx;
            .select_box{
              border-bottom: 0.5px solid #F3F3F3;
              .select_groups{
                display: flex;
                flex-wrap: wrap;
                .checkbox-label{
                  width: 25%;
                  font-size: @minFont;
                  color: @baseColor;
                  font-weight: 600;
                  margin-bottom: 20rpx;
                .wx-checkbox-input{
                  width: 24rpx;
                  height: 24rpx;
                  outline: none;
                  margin-right: 20rpx;
                  line-height: 40rpx;
                }
                .wx-checkbox-input-checked {
                  background: @uiColorGreen;
                  outline: none;
                }
                .wx-checkbox-input::before {
                  width: 24rpx;
                  height: 24rpx;
                  line-height: 24rpx;
                  text-align: center;
                  font-size: 24rpx;
                  color: @textColor;
                  background: transparent;
                  transform: translate(-50%, -50%) scale(1);
                  -webkit-transform: translate(-50%, -50%) scale(1);
                }
                }
              }
            }
            .select_counts{
              display: flex;
              justify-content: space-between;
              .need_count{
                color: @textColor2;
                font-size: @minFont;
                line-height: 60rpx;
              }
              .number_class{
                view,input{
                  border: none;
                  font-size: @minFont;
                  font-weight: 600;
              }
              }
            }
          }
          // 数量
          .main_results{
            margin-top: 40rpx;
            .results_box{
              border-radius: 5px;
              background: @textColor;
              padding: 20rpx;
              .results_count{
                display: flex;
                justify-content: flex-end;
                .result_text{
                  font-size: @minFont;
                  color: @baseColor2;
                  margin-right: 20rpx;
                  line-height: 60rpx;
                }
                .counts{
                  font-weight: 600;
                  font-size: @initFont;
                }
              }
              .results_max{
                display: flex;
                justify-content: flex-end;
                .result_text{
                  font-size: @minFont;
                  color: @baseColor2;
                  margin-right: 20rpx;
                  line-height: 60rpx;
                }
                .counts{
                  font-size: @initFont;
                }
              }
            }
            .results_static{
              margin-top: 20rpx;
              padding: 20rpx;
              background: @textColor;
              .results_header{
                border-radius: 5px 5px 0 0;
                background: @bgColor;
                .col-class{
                  text-align: center;
                  line-height: 60rxp;
                  view{
                    font-size: @minFont;
                    font-weight: 400;
                    text-align: center;
                  }
                  .col-inner{
                    font-size: @minFont;
                    line-height: 32px;
                    font-weight: 600;
                    color: @baseColor;
                  }
                  .col-text{
                    font-size: @miniFont;
                    font-weight: 400;
                  }
                }
              }
              .results_inner{
                border-radius: 0 0 5px 5px;
                border-bottom: 1px solid @bgColor;
                border-left: 1px solid @bgColor;
                border-right: 1px solid @bgColor;
                .col-class{
                  text-align: center;
                  line-height: 60rxp;
                  view{
                    font-size: @minFont;
                    font-weight: 400;
                    text-align: center;
                  }
                  .col-inner{
                    font-size: @minFont;
                    line-height: 32px;
                  }
                }
              }
            }
          }
        }
      }
  }
}
